* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* section-1 */
/* topnavbar */
.navbar-top .container {
    padding: 0px 100px;
}

.navbar-top {
    background-color: black;
    color: white;
    height: 40px;
}

.navtop-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.ques {
    margin-top: 10px;
    font-size: 13px;
}

.ques ul {
    list-style-type: none;
}

.ques ul li {
    display: inline-block;
    margin-right: 20px;
}

.ques ul li a {
    text-decoration: none;
    color: white;
}

.ques ul li i {
    padding: 0px 5px;
}

.right {
    margin-top: 10px;
}

.right a {
    text-decoration: none;
    color: white;
    padding: 0px 10px;
}

/* header */
header .container{
    background-image: url("../images/slide-classic-3.jpg");
    background-size: cover;
    padding: 10px 100px;
    height: 85vh;
    position: relative;  
}
.header-flex{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 25px; */
    transition: 0.3s;
    width: 100%;
}
/* logo */
.logo {
    width: 15%;
}

.logo a {
    display: block;
}

.logo a img {
    display: block;
    width: 100%;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: row; */
    z-index: 1;
    transition: 0.5s;
    gap: 30px;

}

.menu li {
    list-style-type: none;
}

.menu li a {
    text-decoration: none;
    display: block;
    /* padding: 0px 25px; */
    font-size: 18px;
    line-height: 1;
    transition: 0.3s;
    color: white;
    position: relative;
}

/* .menu li a:hover {
    box-shadow: 0 -5px 0px #fff inset;
    color: red;
    padding: 35px 25px 45px 25px;
} */
.menu li a::after{
    content: "";
    position: absolute;
    background-color: orange;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -15px;
    transition: 0.3s;

}
.menu li a:hover::after{
    width: 100%;
}
.menu ul a i:hover{
    color: orange;
}
/* hamburger */
.hamburger {
    position: relative;
    width: 30px;
    height: 4px;
    background: #fff;
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;

}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    background: #fff;
    border-radius: 10px;
    transition: 0.3s;
}

.hamburger::before {
    top: -10px;
    width: 20px;
}

.hamburger::after {
    top: 10px;
    width: 25px;
}

.toggle-menu {
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}

.hamburger,
.toggle-menu {
    display: none;
}

/* check */
.navigation input:checked~.hamburger {
    background: transparent;
}

.navigation input:checked~.hamburger::before {
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
}

.navigation input:checked~.hamburger::after {
    top: 0;
    transform: rotate(45deg);
    width: 30px;
}

.navigation input:checked~.menu {
    right: 0;
}

/* content */
.content {
    transform: translateY(100px);
    text-transform: uppercase;
}

.content a {
    color: white;
    text-decoration: none;
    display: block;
}

.content a h4 {
    font-size: 20px;
    margin-bottom: 15px;
}

.content a h2 {
    font-size: 55px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: .5;
    margin-bottom: 15px;
}

button {
    background-color: yellow;
    border: yellow;
    border-radius: 5px;
    color: black;
    padding: 10px 20px;
}


/* banner */
.banner .container {
    padding: 20px 100px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 100px;

}

.banner-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

}

.group {
    display: flex;
    justify-content: space-between;
    background-color: rgba(26, 3, 3, 0.692);
    padding: 30px 15px;
    transition: 0.3s all;
}

.grp-icon {
    margin-top: 10px;
}

.grp-icon i {
    font-size: 55px;
    color: yellow;

}

.grp-content {
    color: white;
    width: 70%;
}

.grp-content h5 {
    font-size: 20px;
    text-transform: uppercase;
    line-height: 25px;
    margin-bottom: 15px;
}

.grp-content a {
    text-decoration: none;
    color: white;
}

.group:hover {
    background-color: rgba(12, 5, 5, 0.815);

}

/* sectiopn-2 */
/* courses */
.courses .container {
    padding: 60px 80px;
}

.section-title h2 {
    font-size: 30px;
    font-weight: 300;
}

.section-title p {
    line-height: 40PX;
    color: grey;
}

.section-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;
    margin-top: 30px;
}

.section-card {
    width: 25%;
    border: 1px solid gray;
    flex: 1 0 21%;
    border-radius: 5px;
}

.course-img {
    position: relative;
    width: 100%;
}

.course-img img {
    width: 100%;
    height: 100%;
}

.keny-img {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    text-align: center;
    bottom: -34px;
}

.keny-img img {
    width: 50px;
    border-radius: 50%;
    border: 3px solid white;
}

.keny-img h5 a {
    text-decoration: none;
    color: grey;
    font-size: 12px;
}

.course-content {
    padding: 50px 20px 10px;
    text-align: center;

}

.course-content h6 {
    color: grey;
    font-size: 16px;
}

/* course end */
.course-end {
    padding: 5px 15px;
}

.course-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-icon i {
    color: grey;
    display: inline-block;
    padding: 0 10px;
}

.course-rate h6 {
    color: red;
    font-size: 18px;
}

.select {
    text-align: center;
    margin: 50px 0px;
}

.select button {
    border: none;
    text-transform: uppercase;
    background-color: whitesmoke;
    padding: 15px 30px;
    text-align: center;
    color: #000000cf;
    font-size: 13px;
    border-radius: 5px;
    transition: 0.3s ease;
    cursor: pointer;

}

.select button:hover {
    background-color: orange;
    color: black;
}

.section-card:hover.course-content hr {
    color: orange;
}

/* section-3 */
.register .container {
    padding: 40px 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/bg-register-now\ \(1\).jpg") center center;
    background-position: center;
    background-size: cover;

}

.title {
    padding: 0;
}

.register {
    /* background-color: #000000cc; */
}

.title {
    color: white;
    line-height: 35px;
}

.title h4 {
    font-size: 15px;
}

.title h2 {
    text-transform: uppercase;
    font-size: 42px;
}

/* count-flex */
.count-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

}

.title {
    padding: 0 10px;
    margin-bottom: 30px;
}

.title h4 {
    margin-bottom: 10px;
}

.days {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    width: 70px;
    height: 90px;
    background-color: white;
}

.days h3 {
    color: orange;
    font-size: 40px;

}

.form {
    padding: 20px 0px;
    margin-top: 40px;

}

.form p {
    font-size: 18px;
    color: white;
    letter-spacing: .5px;
}

.form-details {
    width: 100%;
    padding: 10px 10px;
    margin-top: 15px;
    background: white;
    border-style: none;
    border-radius: 5px;
    border: 1px solid white;
    line-height: 25px;

}

.form button {
    border: none;
    text-transform: uppercase;
    background-color: #ffa500db;
    padding: 10px 20px;
    text-align: center;
    color: #000000cf;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 15px;
    width: 100%;
    transition: 0.3s ease;
    cursor: pointer;

}

.form button:hover {
    color: black;
    background-color: orange;
}

/* section-4 */
/* why */
.why {
    background: #b2dced8f;

}

.why .container {
    padding: 60px 10px;
}

.why-title {
    text-align: center;
    line-height: 30px;
}

.why-title h4 {
    font-size: 25px;
}

.why-title p {
    color: grey;
}

.why-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 30px 0px;
}

.why-box {
    text-align: center;
    background: white;
    padding: 40px 30px;
    align-content: center;

}

.why-box i {
    font-size: 50px;
    margin-bottom: 10px;
    color: orange;
}

.why-box h3 {
    margin-bottom: 10px;
}

.why-box p {
    line-height: 28px;
    font-size: 17px;
    color: grey;

}

.why-link {
    align-items: center;
    text-align: center;
    margin-top: 40px;

}

.why .learn {
    border: none;
    background-color: #ffa500db;
    padding: 10px 25px;
    color: #000000cf;
    text-transform: uppercase;
    align-items: center;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s ease;
}

.why .learn:hover {
    color: black;
    background-color: orange;
}

/* section-5 */
.event .container {
    padding: 60px 100px;
}

.event-title {}

.event-title h3 {
    font-weight: 500px;
    font-size: 25px;
}

.event-title p {
    color: grey;
    margin-top: 15px;
}

.event-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ebe1e1e0;
    padding: 20px 0px;
    margin-top: 30px;
}

.event-day {
    border-right: 1px solid grey;
    padding: 0px 70px 0px 0px;
}

.event-day label {
    font-size: 55px;
    color: orange;
    font-weight: 700;

}

.event-day h6 {
    font-size: 15px;
    text-align: center;
    color: grey;

}

.event-details {
    width: 50%;

}

.event-icon {
    color: grey;
    margin-top: 15px;
}

.event-icon i {}

.event-icon span {
    font-size: 14px;
    padding: 0px 10px;
}

.event-details h3 a {
    text-decoration: none;
    color: rgb(19, 11, 11);
    font-weight: 300;
}

.event-text {
    color: grey;
    margin-top: 15px;
    line-height: 25px;
}

.event-img {
    width: 25%;
}

.event-img img {
    width: 100%;
    border-radius: 5px;
}

/* section-6 */

.news .container {
    padding: 80px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/bg-last-new.jpg") center center;
    background-position: center;
    background-size: cover;
}

.news {
    /* background-color: black; */
}

.news-title {}

.news-title h3 {
    font-size: 25px;
    color: white;
    margin-bottom: 15px;
}

.news-title p {
    color: white;
    margin-bottom: 30px;

}

.news-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

}

.news-img {
    position: relative;
}

.news-img img {
    width: 100%;
    border-radius: 5px;
}

.news-text {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    text-align: center;
    bottom: -14px;
}

.news-text h5 {
    background-color: orange;
    padding: 10px 15px;
    width: 200px;
    border-radius: 5px;

}

.news-content {
    text-align: center;
    margin-top: 30px;
}

.news-content a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    transition: 0.3s ease;
}

.news-content a:hover {
    color: orange;
}

/* section-7 */
.testi .container {
    text-align: center;
    padding: 60px 10px;
    width: 100%;
    margin: auto;
}

.testi-title {
    text-align: center;
}

.testi-title h3 {
    margin-bottom: 10px;
}

.testi-title p {
    color: grey;
    margin-bottom: 30px;
}

.testi-team {
    text-align: center;

}

.testi-team img {
    width: 35px;
    border-radius: 100%;
    opacity: 0.7;
    margin-right: 10px;

}

.testi-details {
    padding-top: 30px;
}

.testi-details h4 {
    font-size: 18px;
}

.testi-details h5 {
    line-height: 25px;
    color: grey;
    font-size: 18px;
    margin: 5px 0px;
}

.testi-details p {
    color: grey;
    line-height: 25px;
    font-size: 16px;

}
#roll{
    border-style: dotted;
    border-width: 1.5px;
    opacity: 1;
}

/* section-8 */
.post {
    background-color: #c1c8cd70;
}

.post .container {
    padding: 80px 100px;

}

.post-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.post-content {
    width: 35%;
    

}

.post-content p {
    font-size: 15px;
    color: grey;
    line-height: 25px;
}

.post-form {
    width: 40%;
    position: relative;
    background-color: whitesmoke;
}

input[type=email] {
    width: 75%;
    line-height: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border-style: none;

}

input[type=email]:focus {
    color: orange;
}

input[type=submit] {
    text-transform: uppercase;
    font-size: 13px;
    line-height: 20px;
    padding: 10px 30px;
    border-radius: 0 6px 6px 0;
    border-style: none;
    background-color: orange;
    color: black;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: -2px;
    bottom: 0;

}
input[type=email]:focus-visible{
    outline: 1px solid orange;
}


/* section-9 */
footer .container {
    background-color: black;
    padding: 70px 100px;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
}

/* footer-info */
.footer-info {}

.footer-info ul li {
    list-style-type: none;
    color: grey;

}

.footer-info ul li i {
    color: orange;
    margin-right: 10px;
    margin-bottom: 18px;
}

.footer-info img {
    width: 68%;
    margin-bottom: 20px;
}

/* footer-links */
.footer-links {
    margin-top: 20px;
}

.footer-links a {
    text-decoration: none;
    margin-right: 10px;
    color: grey;
    font-size: 20PX;

}

.footer-links a:hover {
    color: orange;
}

/* footer-details */
.footer-details {}

.footer-details h2 {
    color: white;
    margin-bottom: 20px;
}

.footer-details ul {
    list-style-type: none;
}

.footer-details ul li {
    margin-bottom: 15px;
}

.footer-details ul li a {
    text-decoration: none;
    color: grey;
}

.footer-details ul li a:hover {
    color: orange;
}

/* FOOTER-END */
.footer-end {
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
    border-top: 1px solid grey;
    margin-top: 50px;
}

.end-text {}

.end-text p {
    color: grey;
}

.end-text p:hover {
    color: orange;
}

.end-list a:hover {
    color: orange;
}

.end-list {}

.end-list a {
    text-decoration: none;
    color: grey;
    margin-right: 20px;
}

/* section-10 */
/* footer-bg */
.footer-bg {
    background-image: url("../images/bg-footer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    padding-top: 100px;

}

.footer-bg .container {
    text-align: center;

}

.footer-bg {}

.footer-bg h2 {
    margin-bottom: 10px;
    font-size: 38px;

}

.footer-bg p {
    margin-bottom: 40px;
    font-size: 20px;
}

.footer-bg button {
    text-transform: uppercase;
    padding: 10px 20px;
    background: transparent;
    border: 1px solid black;
}

.footer-bg button:hover {
    background-color: black;
    color: white;

}